<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<label for="cate" class="rem">Categoria:</label>
<select id="cate2" name="quiz[categoria]" value="<%= quiz.categoria %>">
  <option value="humanidades" <% if (quiz.categoria ==='humanidades') { %> selected<% } %>> humanidades</option>
  <option value="ocio" <% if (quiz.categoria ==='ocio') { %> selected<% } %> >ocio</ohption>
  <option value="ciencia" <% if (quiz.categoria ==='ciencia') { %> selected<% } %> >ciencia</option>
  <option value="tecnologia" <% if (quiz.categoria ==='tecnologia') { %> selected<% } %> >tecnologia</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
