<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<label for="cate" class="rem">Categoria:</label>
<select id="cate2" name="quiz[categoria]" value="<%= quiz.categoria %>">
  <option value="quiz[categoria]" selected="selected"><%= quiz.categoria %></option>
  <option value="humanidades">humanidades</option>
  <option value="ocio">ocio</ohption>
  <option value="ciencia">ciencia</option>
  <option value="tecnología">tecnología</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">